<div class="ui card" data-html="<div class='header'>User Rating</div><div class='content'><div class='ui star rating'><i class='active icon'></i><i class='active icon'></i><i class='active icon'></i><i class='icon'></i><i class='icon'></i></div></div>">
  <div class="image">
    <img src="http://semantic-ui.com/images/movies/totoro-horizontal.jpg">
  </div>
  <div class="content">
    <div class="header">My Neighbor Totoro</div>
    <div class="description">
      Two sisters move to the country with their father in order to be closer to their hospitalized mother, and discover the surrounding trees are inhabited by magical spirits.
    </div>
  </div>
</div>

<form method="post" auction="/blogs">
  <label>first name</label><input type="text" name="first_name">
  <label>last name</label><input type="text" name="last_name">
  <input type="submit" value="creat">
</form>