<html>
    <head>
        <title>{{ viewModel.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/components/dropdown.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery/3.0.0/jquery.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
    </head>
   <body>
   <div class="ui mini breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" href="/blogs">Blogs</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Personal Information</div>
</div>
        <div class="ui column grid container">
          <div class="column">
            {{{body}}}
          </div>
        </div>
   </body>
</html>